MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/properestate?retryWrites=true&w=majority&appName=Cluster0
EMAIL_USER=your-gmail@gmail.com
EMAIL_PASS=your-gmail-app-password
